<!DOCTYPE html>
<html lang="en">
<head>
   
</head>
<body >
  <div class="header">
      <div>
        <img  src="assets/images/logo.png">
      </div>
      <div>
        <nav class="nav">
            <button routerLink="/register" routerLinkActive="active" class="menu">Register
            </button>
          
          <button routerLink="/addBook" routerLinkActive="active" class="menu" >Add Book</button>
         
          <button routerLink="/addDVD" routerLinkActive="active" class="menu" >Add DVD</button>
          
          
          <button routerLink="/deleteItem" routerLinkActive="active" class="menu">Delete Item</button>
          <button routerLink="/borrowItem" routerLinkActive="active" class="menu">Borrow Item</button>
          <button routerLink="/returnItem" routerLinkActive="active" class="menu">Return Item</button>
          <button routerLink="/displayItems" routerLinkActive="active" class="menu">Display Items</button>
          <button routerLink="/generateReport" routerLinkActive="active" class="menu">Generate Report</button>

        </nav>
      </div>
    </div>
   
   
 
</body>
</html>
